awsconfig:
    SECURITY_GROUP: dacp
    AWS_REGION: ap-southeast-1
    IMAGE_ID: ami-8c1607de
    KEY_NAME: dacp
    KEY_LOCATION: ~/.ssh/dacp.pem
    SSH_PORT = 222
    LOGIN_NAME: ubuntu
    MYSQL_PW: notsosecure
